@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  font-family: 'Figtree', sans-serif;
  background-color: hsl(47, 88%, 63%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

body {
  font-family: 'Figtree', sans-serif;
  background-color: hsl(47, 88%, 63%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

/* CONTENEDOR */
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* TARJETA */
.card {
  background-color: white;
  width: 384px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 8px 8px 0 black;
}

/* IMAGEN PRINCIPAL */
.card-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* TEXTO */
.text {
  margin-bottom: 15px;
}

.tag {
  background-color: hsl(47, 88%, 63%);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 10px;
}

.date {
  font-size: 14px;
  color: hsl(0, 0%, 7%);
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.title:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.title:focus {
  color: hsl(47, 88%, 63%);
}

.description {
  font-size: 16px;
  color: hsl(0, 0%, 42%);
}

/* AUTOR */
.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.name {
  font-size: 14px;
  font-weight: 800;
}




